.button {
    -fx-background-color: #FEBFB6;
    -fx-border-color: #FEA8A3;
    -fx-border-width: 3;

}
.button:hover {
    -fx-background-color: #9fdbf2;
    -fx-border-color: #7db2f2;
    -fx-border-width: 3;
}

.button:pressed {
    -fx-background-color: #7db2f2;
    -fx-border-color: #9fdbf2;
    -fx-border-width: 3;

}